<footer class="footer">
    <h2 class="footer_logo">{{tituloFooter}}</h2>
    <section class="footer_opciones">
        <div class="opciones_item">
            <ul class="item_lista">
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
            </ul>
        </div>

        <div class="opciones_item">
            <ul class="item_lista">
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
            </ul>
        </div>

        <div class="opciones_item">
            <ul class="item_lista">
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
                <li class="lista-item">Plantilla</li>
            </ul>
        </div>
    </section>

    <section class="footer_redes">
        <a href="https://github.com/Urielxdov">Github</a>
    </section>
</footer>