<h2>Nuevo Usuario</h2>
<form action="" class="campo_item">
    <app-input-forms placeholder="Ingrese su nombre" imagenSvg="../../../../../assets/Imagenes/Login/usuario_Icon.svg"></app-input-forms>
    <app-input-forms placeholder="Ingrese su nombre de usuario" imagenSvg="../../../../../assets/Imagenes/Login/usuario_Icon.svg"></app-input-forms>
    <app-input-forms placeholder="Ingrese su correo" imagenSvg="../../../../../assets/Imagenes/Login/correo_Icon.svg"></app-input-forms>
    <app-input-forms placeholder="Ingrese su contraseña" imagenSvg="../../../../../assets/Imagenes/Login/password_Icon.svg"></app-input-forms>

    <app-boton contenidoBoton="Registrarme" colorFondo="rgb(0, 117, 31)"></app-boton>
</form>


