<header class="header">
    <section class="header_funciones">
        <div (click)="irInicio()" class="funciones_titulo">
            <h2>{{nombreApp}}</h2>
        </div>

        <div class="funciones_navegacion">
            <a href="#">Inicio</a>
            <a href="#">Aun no lo pienso</a>
            <a href="#">Aun no lo pienso</a>
        </div>
    </section>


    <div class="header_usuario">
        <img src="../../../../assets/Imagenes/Header/usuario_Icon.svg" alt="">
    </div>


</header>