.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 3%;
    background-color: rgb(39, 57, 152);
}

.header_funciones {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.funciones_titulo {
    display: inline-block;
    font-size: 19px;
    padding-right: 5px;
    border-right: 1px solid #aaa;
}

.funciones_titulo:hover {
    cursor: pointer;
}

.funciones_navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.funciones_navegacion a {
    text-decoration: none;
    color: #FFF;
}

.header_usuario {
    display: flex;
    align-items: center;
}

.header_usuario {
    border-radius: 100%;
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
}

.header_usuario img{
    width: 20px;
}

@media (max-width : 720px) {
    .header {
        flex-direction: column;
    }
    .funciones_titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-bottom: 1px solid #FFF;
        width: 100%;
    }
    .header_usuario {
        display: none;
    }
    .header_funciones {
        flex-direction: column;
    }
    .funciones_navegacion {
        flex-direction: column;
    }
}